.a4 {
    position: absolute;
    width: 620px;
    height: 110.75px;
    margin: auto;
    background: #ffffff;
    /* border: 1px solid #eee; */
    padding: 30px;
}
table {
    width: 100%;
}
table,
th,
td {
    /* border: 1px solid black; */
    text-align: justify;
    height: 20px;
    font-size: 15px;
    vertical-align: top;
}

.field {
    width: 10%;
}

.titik {
    width: 5%;
}

.no_st {
    text-align: center;
    height: 30px;
}

.point {
    font-weight: bold;
    vertical-align: top;
}

.judul {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.gbr {
    width: 100%;
}

.page-break {
    page-break-after: always;
}

.bold {
    font-weight: bold;
}
